.primary-navbar, .secondary-navbar {
    font-family: 'Montserrat', 'sans-serif';
}

.secondary-navbar {
    background-color: #041421;
    padding: 2% 6.2%;
    display: flex;
    justify-content: space-between;
}

.secondary-navbar a {
    color: #999;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.secondary-navbar a:hover {
    color: white;
    cursor: pointer;
}

.secondary-navbar-links a:not(:last-child),
.login-link a:first-child {
    margin-right: 50px;
}

.primary-navbar {
    padding-left: 6.2%;
    padding-right: 6.2%;
}

.primary-navbar a:hover {
    color: #5E8D83;
}

.primary-navbar-logo {
    width: 100%;
    text-align: center;
}

.logo {
    width: 45%;
    padding-top: 35px;
}

.primary-navbar-links {
    padding-top: 1%;
    padding-bottom: 1%;
}

.primary-navbar-links a {
    margin-right: 25px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #041421;
}

@media screen and (max-width: 1600px) {
    .secondary-navbar a,
    .primary-navbar-links a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1440px) {
    .secondary-navbar {
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
    
    .secondary-navbar a {
        font-size: 10px;
    }

    .primary-navbar-links a {
        font-size: 12px;
    }

    .secondary-navbar-links a:not(:last-child),
    .login-link a:first-child {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .secondary-navbar {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .secondary-navbar a {
        font-size: 8px;
    }

    .primary-navbar-links a {
        font-size: 10px;
    }

    .secondary-navbar-links a:not(:last-child),
    .login-link a:first-child {
        margin-right: 25px;
    }
}
