.blog-post-page {
  padding-left: 6.2%;
  padding-right: 6.2%;
}

.thumbnail-image-page {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.blog-post-content {
  padding-left: 9%;
  padding-right: 9%;
}

.post-title-page {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -.04em;
  line-height: 1.25em;
}

.post-content-page {
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #777;
}
